<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="cerf7_beginnings.css">

    <script src="../static/hacker_typing.js" defer></script>

    <title>cerf7</title>
</head>

<body>
<div id="root">
    <div id="wall">

        <label for="message_field"></label>
        <textarea name="message" id="message_field"
                  placeholder="Введите сообщение..."
                  maxlength="0"
                  class="input-field"></textarea>

        <input class="sexy-button" type="submit" value="отправить">

        <div class="deleted-post">
            <div class="column post-id">#1489</div>
            <div class="column post-contents">СООБЩЕНИЕ БЫЛО УДАЛЕНО НАХУЙ МОДЕРАТОРОМ ЗА ДОЛБОЕБИЗМ</div>
            <div class="column date-time">24/12/2021 14:39</div>
        </div>

        <div class="epic-post">
            <div class="column post-id">#1488</div>
            <div class="column post-contents">ну да это трактор блять</div>
            <div class="column date-time">24/12/2021 14:37</div>
        </div>
        <div class="post">
            <div class="column post-id">#1489</div>
            <div class="column post-contents">второй пост</div>
            <div class="column date-time">24/12/2021 14:39</div>
        </div>
        <div class="post">
            <div class="column post-id">#9</div>
            <div class="column post-contents">второй пост</div>
            <div class="column date-time">24/12/2021 14:39</div>
        </div>
        <div id="9b0055" class="post">
            <div class="column post-id">#9b0055</div>
            <div class="column post-contents"><a href="#6e8c18">#6e8c18</a> написал долбоеб</div>
            <div class="column date-time">03.01.22 05:33</div>
        </div>
        <div class="post">
            <div class="column post-id">#9</div>
            <div class="column post-contents">все совпадения вымышлены а персонажи случайны. изображения размещённые на
                данной странице сгенерированы компьютером и опубликованы без вмешательства человека. администрация не
                несёт ответственности ни за что бля ей 9 лет на неё УК РФ не действует по идее
            </div>
            <div class="column date-time">24/12/2021 14:39</div>
        </div>
    </div>
</div>


</body>
